@model AppVendas.Models.Categoria

@{
    ViewData["Title"] = "Adicionar categoria";
}

<div class="d-flex justify-content-between my-5 align-items-center">
    <span class=" display-6 w-75 justify-content-center">Cadastro de Categoria</span>

    <a asp-action="Create" class="btn btn-secondary px-5 w-25 d-flex align-items-center justify-content-center">
        <ion-icon name="add-circle-outline" class="fs-4"></ion-icon><span class="fs-4 ms-2 fst-italic">Adicionar</span>
    </a>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="CategoriaNome" class="control-label"></label>
                <input asp-for="CategoriaNome" class="form-control" />
                <span asp-validation-for="CategoriaNome" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary align-items-center px-5 mt-3 w-100">
                    <ion-icon name="save" class="me-2"></ion-icon> Salvar
                </button>
            </div>
        </div>
        <div class="col-4"</div>
        <div class="col-4">
            <a asp-action="Index" class="btn btn-outline-info d-flex align-items-center px-5 mt-3 w-100 justify-content-center px-3">
                <ion-icon name="caret-back"></ion-icon>Voltar
            </a>
        </div>
    </div>

</form>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
